.botnavbar{
    height: 70px;
    width: 100vw;
    background: rgba(0,0,0,1);
    margin:0;
    padding:0;
}
#rm

.botnavbar img .botlogo{
    height:70px;
    padding-left: 20px;
}

.bottitle{
    padding-left: 320px;
}
#chatbox {
    width: 93%; /* Adjust the width as needed, e.g., 100% */
  }

  
.botnavbar ul li{
   
    margin-right: 20px;
    display: inline-block;
}

.botnavbar ul li a {
    color: white; /* Change the color to white or a color that suits your design */
    font-family: Arial, sans-serif;
    text-decoration: none;
}

/* Add this CSS to adjust the hover color of the.botnavbar text */
.botnavbar ul li a:hover {
    color: #ff5722; /* Change the hover color to your desired color */
}
.rmbot2 {
    animation: gradientAnimation 10s linear infinite alternate;
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, #ff6b6b, #88f6f6, #b0e57c, #ff6b6b);
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.botnavbar ul {
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    padding-right: 20px;
}


.bot-card {
    margin-bottom: 100px; /* Adjust top margin to move the card */
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent black background color */
    padding-top: 30px;
    margin-top: 100px; /* Adjust top margin to move the card */
}

/* CSS to center the card */
.bot-card-center {
    width: 95%; /* Adjust the card width as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: 140px; /* Add top margin for spacing */
}

.rmbot2{
    margin-left: 340px;

    width: 150px;
    padding-bottom: 30px;
}


.botbutton img.logo{
    
    height: 30px;
  
    
}


