.pietext{
  text-align: center;
}

.dtrackrep{
  text-align: center;
}

.analysis{
  text-align: center;
}

.alertp{
  text-align: center;
}

.mline{
  text-align: center;
  font-size: 3vh;
}

.subdivtext{
  margin-left: 50px;
}

.piechart{
  background-color: inherit; 
  border: 1px solid #000000; 
  padding: 20px;
  border-radius: 10px; 
  width: 50%;
  margin-left: 330px;
}

.alerts {
  background-color: inherit; 
  border: 1px solid #000000; 
  padding: 20px;
  border-radius: 10px; 
  width: 90%;
  margin-left: 60px;
}

.pairbar {
  background-color: inherit; 
  border: 1px solid #000000; 
  padding: 20px; 
  border-radius: 10px; 
  width: 90%;
  margin-left: 60px;
}

.linechart {
  background-color: inherit; 
  border: 1px solid #000000; 
  padding: 20px; 
  border-radius: 10px; 
  width: 90%;
  margin-left: 60px;
}

.spend-card {
  border: none; /* Remove default border */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  
}
#spendbut {
  
  width: 200px; 
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#spendbut:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1); 
}


.spend-card-center {
  width: 35%; 
  margin: 0 auto; 
  margin-top: 10px; 
}